
.initial-popup {
	border-radius: 0px;
	line-height: 6vh;

	animation-name: popUp;
	animation-fill-mode: forwards;
	animation-duration: 500ms;
	animation-timing-function: ease-in;
	animation-delay:  500ms;
}

@keyframes popUp {
	0% {
		opacity: 0;
		transform: translateY(30px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}


  
