.currently {

}

.currently p {
    font-size: min(3.5vw, 1.2rem);
}

.currently.section-wrapper h2 {

}

.scrimba-wrapper {

}

.scrimba-top-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    line-height: 5.5vh;

}

.scrimba-top-text h3 {

}

.bounce {
    animation: bounce 2s ease ;
  }
  @keyframes bounce {
      0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
      40% {transform: translateY(-30px) scale(1.1);}
      60% {transform: translateY(-15px) scale(1.2);}
  }

.scrimba-top-text h5 {

}

.scrimba-top-text p {

}

.scrimba-card-wrapper {
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
    gap: 2vw;

    margin: 15vh auto;
}

.scrimba-card {
display: flex;
flex-direction: column;
width: 25%;

overflow: hidden;



}

.scrimba-card-img-wrapper {
    width: 100%;
    height: auto;
    overflow: hidden;

}

.scrimba-card-img {
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center top;
    transition: .3s;
}

.scrimba-card-img:hover {
        transform: scale(1.2);
}

.scrimba-card-desc {

}

.scrimba-card-desc-title {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 2vh auto;
}

.scrimba-card-desc-title a {
    width: 20%;
}

.scrimba-card-desc-text {
    text-align: left;
    margin: 5vh auto;
}










.currently .eye-container {
    text-align: center;
    display: inline-block;
    margin: 0;
}

.currently .eye-container img {
    width: 25px;
    height: auto;
    margin: 0 auto;
    display: block;
}

.currently .eye-container a {
    /* これがあるとtranslateできない */
    /* display: block; */
    font-size: min(1.5vw, 20px);
}

.currently .eye-container a.toggleBox-jp {
    font-size: min(2vw, 1rem);

}



@media all and (max-width: 767px) {
    .scrimba-card-wrapper {
        flex-direction: column;
    }

    .scrimba-card {
        width: 80%;
        margin: 0 auto;
    
    }

    .scrimba-card-desc-title {
        justify-content: center;
    }

    .scrimba-card-desc-text {
        text-align: center;
       
    }

    .currently .eye-container {
        margin-right: 1rem;
    }
    
}