.currently {
}

/* .currently p {
    font-size: min(3.5vw, 1.2rem);
} */

.currently h2 {
  margin: 15vh auto 5vh;
}

.learning {
}

.scrimba-wrapper {
}

.scrimba-top-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  line-height: 5.5vh;
}

.scrimba {
  font-size: clamp(2rem, 4vw, 7rem);
  padding-bottom: 4vh;
  opacity: 0;
  transform: translate(0, 50px);
  transition: all 550ms;
  border-radius: 0px;
  color: #565a62;
}

.scrimba.bounce {
  animation: bounce 2s ease;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-30px) scale(1.1);
  }

  60% {
    transform: translateY(-15px) scale(1.2);
  }
}

.scrimba-top-text h4 {
  font-size: clamp(1rem, 3vw, 5rem);
  margin: 2vh auto;
}

.scrimba-top-text p {
}

.scrimba-card-wrapper {
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
  gap: 2vw;

  margin: 15vh auto;
}

.scrimba-card {
  display: flex;
  flex-direction: column;
  width: 25%;

  overflow: hidden;
}

.scrimba-card-img-wrapper {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.scrimba-card-img {
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center top;
  transition: 0.3s;
}

.scrimba-card-img:hover {
  /* transform: scale(1.2); */
}

.scrimba-card-desc {
}

.scrimba-card-desc-title {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 2vh auto;
}

.scrimba-card-desc-title a {
  width: 20%;
}

.scrimba-card-desc-text {
  text-align: left;
  margin: 5vh auto;
}

.currently .eye-container {
  text-align: center;
  display: inline-block;
  margin: 0;
}

.currently .eye-container img {
  width: 25px;
  height: auto;
  margin: 0 auto;
  display: block;
}

.currently .eye-container a {
  /* これがあるとtranslateできない */
  /* display: block; */
  font-size: min(4vw, 15px);
}

.currently .eye-container a.toggleBox-jp {
  font-size: min(2vw, 1rem);
}

@media all and (max-width: 767px) {
  .scrimba-card-wrapper {
    flex-direction: column;
  }

  .scrimba-card {
    width: 80%;
    margin: 0 auto;
  }

  .scrimba-card-desc-title {
    justify-content: center;
  }

  .scrimba-card-desc-text {
    text-align: center;
  }

  .currently .eye-container {
    margin-right: 1rem;
  }

  .retribe16-image {
    width: 100%;
  }

  .retribe16-text {
    width: 100%;
  }
}
