.hero {
  position: relative;
  margin: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  margin: 0 auto;
  background: linear-gradient(179.27deg, rgba(102, 167, 124, 0.31) 18.32%, rgba(41, 41, 41, 0.0248) 87.12%), rgba(217, 217, 217, 0.46);
}







#particles-js {
  width: 100%;
  height: 50%;
  position: absolute;
  z-index: 9;
}



.hero__box {
  /* position: absolute; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10%;
}


.hero__box-txt {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10vh;
  width: 100%;
  padding: 5%;
}

.hero__box-txt p {
  line-height: 2rem;
    text-align: left;
}


.sp-br {
  display: none;
}



.hero__box-img {
  width: 90%;
  border-radius: 10px;
  background-image: url(./images/bali-up_cleanup.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 2% 0 10%;
  margin: 0 5%;
  min-height: 55vh;
  background-position: center 90%;
}



.hero__box-greeting {
  line-height: 3rem;
}


/* Hello */
.hero__box-greeting p:nth-child(1) {}


/* I'm Iori */
.hero__box-greeting h2 {
  color: #cb7a67;
  text-shadow: 2px 2px 1px #fff;
  font-size: min(10vw, 50px);

  /* fadeinコピー */
  transform: translate(0, 50px);
  animation: hero-fadein 2s forwards;
}

@keyframes hero-fadein {
  0% {
    opacity: 0;
    transform: translate(0, 200px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.hero__box-titles {
  display: flex;
  line-height: 3rem;
  align-items: center;
  gap: 5vw;
}


/* 共通 */

.hero__box-title {
  font-size: min(3vw, 3rem);
  font-family: 'Crimson Pro', serif;
  font-weight: 700;
  text-shadow: 2px 2px 1px #fff;
  color: #cb7a67;
  position: relative;
  opacity: 0;
  transition: all .4s;
}

@media all and (max-width: 768px) {

  .hero {
    /* padding: 15vh 0; */
    height: auto;
  }

  .hero__box {
    flex-direction: column;
    top: 6%;
    padding: 10% 0;
    width: 80%;
    margin: 0 auto;
}
  .hero__box-greeting {
    line-height: 2rem;
  }
  .hero__box-img {
    width: 80%;
    min-height: 30vh;
    padding: 10% 0 ;
  }

  
  .hero__box-txt {
    width: 100%;
    padding: 20% 0;
    text-align: center;
    gap: 0;
  }

  .hero__box-txt p {
    line-height: 1.5rem;
    text-align: left;
  }

  .sp-br {
    display: inline-block;
  }
  

  /* .hero__box-titles {
    display: flex;
    flex-direction: column;
    width: 100%;
    line-height: 3rem;
    margin-top: 4vh;
  }
  .hero__box-title {
    margin: 0vh auto;
    padding: 0;
    width: 100%;
    font-size: 1.5rem;
  } */

}