.skills {
    /* background-color: var(--lightpurple);
    background-color:rgba(226, 244, 211, 0.714);
    background-color: rgba(94, 154, 153, .6);
    background-color: #EAD2BC;
 */
}



.skills__flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9%;

    z-index: 100;
    position: relative;
}

/* .skills__flex > .row {
    display: flex;
} */

.skills__flex-item  {
    /* text-align: center;
    padding: 2rem; */

}

/* vs code */
.skills__flex-item img {
    width: 50%;
}


/* 個々 */
.jquery img {
    width: 40px;
    height: auto;
}

.vscode img {
    width: 40px;
    height: auto;
}

.responsive img {
    width: 70px;
    height: auto;
}

























.sand__container {
    position: relative;
    width: 100%;
    min-height: 50vh;
    background-color: #EAD2BC;

}

.thin-color-sand {
    position: absolute;
    width: 100%;
    left: 0;
    top: 97%;
    z-index: 3;
}

.white-color-sand {
    position: absolute;
    width: 114%;
    left: -7%;
    top: 101%;

    z-index: 2;

}

.thick-color-sand {
    position: absolute;
    top: 111%;
    width: 100%;
    left: 0;
    opacity: .9;

    z-index: 1;
}


@media all and (max-width: 768px) {
    .skills {
        padding: 5vh 0 0;
    }


    .white-color-sand {
        width: 100%;
        left: 0%;
        top: 100%;
    }
    
    .thick-color-sand {
        width: 100%;
        top: 103%;
      }



    .skills__flex-container {
        flex-wrap: wrap;
        padding: 5vh 0;
        line-height: 2.5rem;
    }

    .skills__flex-item {
        width: 35%;
    }
    
}