.skills {
    background-color: var(--lightpurple);
    background-color:rgba(226, 244, 211, 0.714);
    background-color: rgba(94, 154, 153, .6);
    background-color: #EAD2BC;

}

.skills__flex.container {

}

.skills__flex > .row {
    display: flex;
}

.skills__flex__item  {
    text-align: center;
    padding: 2rem;
}


/* 個々 */
.jquery img {
    width: 40px;
    height: auto;
}

.vscode img {
    width: 40px;
    height: auto;
}

.responsive img {
    width: 70px;
    height: auto;
}

