.skills {
  /* background-color: var(--lightpurple);
    background-color:rgba(226, 244, 211, 0.714);
    background-color: rgba(94, 154, 153, .6);
    background-color: #EAD2BC;
 */
  padding: 5vh 0 20vh;
  position: relative;
  width: 100%;
  min-height: 50vh;
  background-color: #ead2bc;
  background-color: #fff;
}

.skills.section-wrapper {
  margin: 0 auto;
}

.skills__flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  position: relative;
  width: 80%;
  margin: 0 auto;
}

.skills__flex-item {
  background-color: rgb(96, 112, 107);
  width: 11vw;
  height: 11vw;
  /* border: 1px solid#000; */
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* Retribe */
  position: relative;
  opacity: 0;
  transition: all 0.4s;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.fadeUp {
  animation-name: fadeUpAnime;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeUpAnime {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.skills__flex-item:nth-of-type(1) {
  background-color: #d29267;
}

.skills__flex-item:nth-of-type(2) {
  background-color: #ead2bc;
  animation-delay: 0.2s;
}

.skills__flex-item:nth-of-type(3) {
  background-color: #aabdb5;
  animation-delay: 0.4s;
}

.skills__flex-item:nth-of-type(4) {
  background-color: #5e9a99;
  animation-delay: 0.6s;
}

.skills__flex-item:nth-of-type(5) {
  background-color: #b9aeb2;
  animation-delay: 0.8s;
}

/* vs code */

.skills__flex-item img {
  width: 50%;
}

/* 個々 */

.jquery img {
  width: 40px;
  height: auto;
}

.vscode img {
  width: 40px;
  height: auto;
}

.responsive img {
  width: 70px;
  height: auto;
}

@media all and (max-width: 768px) {
  .skills {
    padding: 5vh 0 0;
  }
  .white-color-sand {
    width: 100%;
    left: 0%;
    top: 100%;
  }
  .thick-color-sand {
    width: 100%;
    top: 103%;
  }
  .skills__flex-container {
    flex-wrap: wrap;
    padding: 0 0 5vh;
    line-height: 2.5rem;
    justify-content: space-around;
  }
  .skills__flex-item {
    width: 40%;
    height: auto;
    padding: 3%;
    margin: 5%;
  }
}
