body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./images/paper-airplane.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
}

h1 {
    font-size: 5vw;
    padding-bottom: 30vh;
}