.readme {

    margin: 0 auto;
    text-align: center;
    align-items: center;

    position: relative;
    width: 100%;

}


.readme__flex {
    margin: 10vh auto;
}

.container-fluid {}

.readme__flex .row {
    justify-content: center;
    align-items: center;
}

@media all and (max-width:989px) {
    .portfolio-text {
        margin: 5vh auto 0;
    }
}



.portfolio-image {}

.portfolio-text {}



