footer {
    background-color: var(--baseblue), #EAF7DF;
    background-blend-mode: #EAF7DF, var(--baseblue);
    font-family: cursive;
}


form {
    display: inline-block;
}

input {
	font-family: 'Mada', sans-serif;
}

@media all and (min-width: 990px) {
    
    .form-flex {
        display: flex;
    }
}