footer {
    background: var(--baseblue),#EAF7DF;
    background-blend-mode: multiply;
}

footer::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background:#EAF7DF;
}


form {
    display: inline-block;
}

input, textarea {
	font-family: 'Mada', sans-serif;
    border: none;
}

@media all and (min-width: 990px) {
    
    .form-flex {
        display: flex;
    }
}