/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ------------------------------------------------------- */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	font-size: 16px;
    --basesunset: #E14D2A;
    --pinksunset: #CD104D;
    --baseblue: #0ED3BE;
    --thickpurple: #9480F8;
    --lightpurple: #E4D0FA;
}


h1, h2, h3, h4, h5 {
    font-family: 'Crimson Pro', serif; 
	font-weight: 800; 
}

h2 {
	font-size: min(6vw, 30px);
}

h3 {
	font-size: min(3.5vw, 30px);

}

p {
	font-family: 'Mada', sans-serif;

}

p,a,i {
	font-size: 1.5rem;
}

a {
	text-decoration: none;
}


body {
    font-family: 'Mada', sans-serif;
    /* background-color: var(--lightpurple); */
	height: 500vh;	
	/*  cursor 画像の場合128×128px に制限 */
	cursor: none; /*もともとあるカーソルは見えなくなるようにする*/

	text-align: center;
}


body::-webkit-scrollbar {
	width: .75rem;
}

body::-webkit-scrollbar-track {
	background: #fff;
}

body::-webkit-scrollbar-thumb {
	/* background: rgb(55,146,55);
	background: linear-gradient(180deg, rgba(55,146,55,1) 0%, rgba(118,186,153,1) 11%, rgba(137,206,129,1) 19%, rgba(145,214,118,1) 26%, rgba(156,224,121,1) 33%, rgba(174,224,143,1) 39%, rgba(201,226,178,1) 51%, rgba(211,233,193,1) 62%, rgba(226,240,214,1) 68%, rgba(255,255,255,1) 80%, rgba(255,255,255,1) 93%); */
	background: rgb(4,101,130);
	background: linear-gradient(180deg, rgba(4,101,130,1) 0%, rgba(110,117,130,1) 20%, rgba(159,124,130,1) 38%, rgba(187,128,130,1) 51%, rgba(211,96,74,1) 66%, rgba(225,77,42,1) 78%, rgba(253,132,31,1) 93%, rgba(255,159,69,1) 112%);

}
img {
    width: 80%;
    height: auto;
}

.section-wrapper {
	padding: 4vh 0;
}

/*カーソル要素*/
#cursor{
	position: fixed;
	/*丸の大きさと色の指定*/
	background: rgb(236, 224, 224);
	border-radius:20px;
	width: 10px;
	height: 10px;
	/* 真ん中にくるようにマイナスマージンで調整 */
	margin: -5px 0 0 -5px;
	/* 一番手前に来るように */
	z-index: 2;
	/*クリックできなくなるのを防ぐため。noneで対応 */
	pointer-events: none;
	opacity: 0;

	z-index: 9999;
  }

  /* #cursor img {
	width: 10px;
	height: 10px;
  } */
  /*ちょっと遅れてついてくるストーカー要素*/
  #stalker{
	position: fixed;
	/*丸の大きさと色の指定*/
	background: #fff;
	width: 20px;
	height: 20px;
	border-radius:30px;
	margin: -5px 0 0 -5px;
	z-index: 1;/*カーソルの後ろに来るように*/
	pointer-events: none;/*クリックできなくなるのを防ぐため。noneで対応*/
	opacity: 0.5;
  }

  .section-wrapper h2 {
	margin: 4vh auto;
  }

  @media all and (min-width: 768px) {
    .left-align {
        text-align: left;
    }
}





