.bg {
    width: 100%;
    /* height: 100vh; */
    background: rgb(4, 101, 130);
    background: linear-gradient(180deg, rgba(4, 101, 130, 1) 0%, rgba(110, 117, 130, 1) 20%, rgba(159, 124, 130, 1) 38%, rgba(187, 128, 130, 1) 51%, rgba(200, 111, 99, 0.9334003865217962) 57%, rgba(211, 96, 74, 0.8493667730764181) 62%, rgba(217, 118, 59, 0.9025880615918243) 68%, rgba(225, 112, 42, 0.8213555685946253) 75%, rgba(237, 137, 37, 0.8101510868019083) 80%, rgba(253, 176, 31, 0.6308793781184349) 87%, rgba(255, 209, 168, 0.009) 98%);
    box-sizing: border-box;
    opacity: .8;

    background: rgb(79, 135, 157);
    background: linear-gradient(180deg, rgba(79, 135, 157, 1) 0%, rgba(53, 172, 171, 1) 17%, rgba(116, 220, 210, 0.9069363695090439) 40%, rgba(187, 238, 233, 0.9327761627906976) 62%, rgba(255, 255, 255, 0.5813549741602067) 91%, rgba(255, 255, 255, 0.02321543927648584) 105%);
    animation: bg-change 7000ms ease-in-out infinite;

    transition: all 7000ms;
}

.bg:hover {

}

@keyframes bg-change {
    0% {
        opacity: .8;
    }

    25% {
        background: rgb(205,16,77);
        background: linear-gradient(180deg, rgba(205,16,77,1) 5%, rgba(225,77,42,1) 24%, rgba(225,77,42,0.8412704659949622) 51%, rgba(238,155,135,0.7984493073047859) 69%, rgba(247,205,195,0.700212531486146) 80%, rgba(255,255,255,0.5813549741602067) 91%, rgba(255,255,255,0.02321543927648584) 105%); 
    }

    50% {
        background-color: rgb(154, 28, 68);
        background: rgb(205,16,77);
background: linear-gradient(180deg, rgba(205,16,77,1) 5%, rgba(79,135,157,0.82) 68%);
    }

    75% {

    }

    100% {
        background: rgb(79, 135, 157);
        background: linear-gradient(180deg, rgba(79, 135, 157, 1) 0%, rgba(53, 172, 171, 1) 17%, rgba(116, 220, 210, 0.9069363695090439) 40%, rgba(187, 238, 233, 0.9327761627906976) 62%, rgba(255, 255, 255, 0.5813549741602067) 91%, rgba(255, 255, 255, 0.02321543927648584) 105%);
    
    }
}




.hero {
    /* 高さ同じ */
    padding: 15vh 0 0;
    width: 100%;
    overflow-y: hidden;
    min-height: 90vh;

}

.hero h2 {
    color: white;
}

.hero__flex {
    display: flex;
    padding-top: 10vh;
    justify-content: flex-end;
    align-items: baseline;
    /* 高さ同じ */
    padding-top: 15vh;
}

.surfgirl {
    width: 50%;
    text-align: left;
}

.surfgirl img {
    justify-self: left;
    width: 40%;

}

.sun-tree {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    justify-content: flex-end;

}

.sun {
    width: 10vw;
    height: 10vw;
    background-color: var(--basesunset);
    border-radius: 50%;
}

.tree {}

.tree img {
    width: 15vw;
    height: 15vw;
}