.bg {
	width: 100%;
	/* height: 100vh; */
	background: rgb(4,101,130);
	background: linear-gradient(180deg, rgba(4,101,130,1) 0%, rgba(110,117,130,1) 20%, rgba(159,124,130,1) 38%, rgba(187,128,130,1) 51%, rgba(200,111,99,0.9334003865217962) 57%, rgba(211,96,74,0.8493667730764181) 62%, rgba(217,118,59,0.9025880615918243) 68%, rgba(225,112,42,0.8213555685946253) 75%, rgba(237,137,37,0.8101510868019083) 80%, rgba(253,176,31,0.6308793781184349) 87%, rgba(255, 209, 168, 0.009) 98%);
	box-sizing: border-box;
    opacity: .8;

}




.hero {
    /* 高さ同じ */
    padding: 15vh 0 0;
    width: 100%;
    overflow-y: hidden;
    min-height: 80vh;

}
.hero h2 {
    color: white;
}

.hero__flex {
    display: flex;
    padding-top: 10vh;
    justify-content: flex-end;
    align-items: baseline;
    /* 高さ同じ */
    padding-top: 15vh;
}

.surfgirl {
    width: 50%;
    text-align: left;
}

.surfgirl img {
    justify-self: left;
    width: 40%;

}

.sun-tree {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    justify-content: flex-end;

}

.sun {
    width: 10vw;
    height:10vw;
    background-color: var(--basesunset);
    border-radius: 50%;
}

.tree {

}

.tree img {
    width: 15vw;
    height: 15vw;
}