.navbar {
    background-color: transparent;
    margin-bottom: 10vh;
    padding: 1rem;
}

.navbar h2, .navbar i {
    color: #fff;
}

.navbar h2 {
    font-size: min(4vw, 20px);
}

.navbar>.container-fluid {
    align-items: flex-start;
}

.nav-link i {
    /* 色変える */
    z-index: 999;
}

/* js */
.nav-link i.change



/* の枠線を消す
.navbar-toggler {
	border: 0 !important;
}

.navbar-toggler:focus {
    box-shadow: none !important;
} */


.navbar-brand h2 {
    color: red;
}

/* js */
.navbar-brand.change-color {
    color: #BB8082;
  }
