.eye-container {
    text-align: center;
    display: inline-block;
    margin: 2vw;
}

.eye-container img {
    width: 30px;
    height: auto;
    margin: 0 auto;
    display: block;
}

.eye-container a {
    display: block;
    font-size: min(3vw, 20px);
}

/* ----------------- */


.works__flex {
    display: flex;
    flex-wrap: wrap;
    min-height: 70vh;
    width: 100%;
    margin: 20vh auto;
}


.works__image {
    position: relative;
    background-size: cover;
}



.works__flex__image img {}


.works__text {}


.works__text__title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.works__text__sent {
    width: 85%;
    padding: 10% 0 5vw;
    margin: 0 auto;
}


.language-meter {
    width: 85%;
    margin: 0 auto;
    display: flex;
    border-radius: 30px;
    height: 1rem;
}


/* - - - - - -  */

.language-meter-info {
    display: flex;
    width: 85%;
    margin: 0 auto;
    align-items: center;
}

.language-meter-info p:nth-of-type(1) {
    margin-right: 2rem;

}

.language-meter-info p:not(:nth-last-child())

.html-circle,
.css-circle, 
.js-circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: .5rem;
}

.html-circle {
    background-color: #E34C26;

}

.css-circle {
    background-color: #563D7C;
}

.js-circle {
    background-color: #F1E05A;
}


/* mobile */
@media all and (max-width: 767px) {
    .works__flex {
        display: inline-block;
        height: auto;
    }


    .works__image {
        height: 70vh;
    }


    .works__text {
        margin-top: 10vh;
    }


    .works__text__title {
        display: inline-block;
        align-items: center;
    }

    .works__text__sent {
        width: 85%;
        padding: 3vh 0;
        margin: 0 auto;
    }

}



/* ⭐travelBlog */

.travelBlog-image {
    background-image: url(./images/world\ map.jpg);
    box-shadow: 0 0 30px 30px white inset;
    /* 🐈 */
    width: 60%;
}

.travel-text {
    /* 🐈 */
    width: 40%;

}

/* 👩‍🎨travel meter */


.travel-meter-html,
.travel-meter-css {
    height: inherit;
}

.travel-meter-html {
    width: 71.5%;
    background-color: #E34C26;
    border-radius: 10px 0 0 10px

}

.travel-meter-css {
    width: 28.5%;
    background-color: #563D7C;
    border-radius: 0 10px 10px 0

}



/* desktop */
.travelBlog-image img:nth-child(1),
.crumpled-desktop {
    position: absolute;
    top: 7vh;
    left: 3vw;

    width: 60%;
    height: auto;
    box-shadow: rgba(111, 109, 107, 0.7) 0px 10px 30px;
}

.crumpled-desktop {
    opacity: .5;

}


/* tablet */
.travelBlog-image img:nth-child(2),
.crumpled-tablet {
    position: absolute;
    top: 15vh;
    right: 5vw;

    width: 40%;
    z-index: 10;
    box-shadow: rgba(111, 109, 107, 0.7) 0px 10px 30px;
}

.crumpled-tablet {
    opacity: .5;
}


/* mobile */
.travelBlog-image img:nth-child(3),
.crumpled-mobile {
    position: absolute;
    top: 30vh;
    left: 30vh;

    width: 25%;
    z-index: 11;
    box-shadow: rgba(111, 109, 107, 0.7) 0px 10px 30px;
}

.crumpled-mobile {
    opacity: .6;
}



.crumpled-desktop,
.crumpled-mobile,
.crumpled-tablet {
    transition: opacity 200ms;
}

.crumpled-desktop:hover,
.crumpled-mobile:hover,
.crumpled-tablet:hover {
    opacity: 0;
}


@media all and (max-width: 767px) {

    .travelBlog-image {
        /* 🐈 */
        width: 100%;
    }

    .travel-text {
        /* 🐈 */
        width: 100%;

    }
}


/* ⭐self taught */

.self-taught {
    background-color: lightskyblue;
    flex-direction: row-reverse;
    display: flex;
    padding: 2rem;
}

.self-taught-image {
    width: 60%;
    height: 60vh;
    background-color: aliceblue;
    margin: 10vh auto;

    position: relative;

}

.self-taught-text {
    width: 40%;
}

@media all and (max-width: 767px) {

    .self-taught {
        display: inline-block;
    }

    .self-taught-image {
        /* 🐈 */
        width: 100%;
    }

    .self-taught-text {
        /* 🐈 */
        width: 100%;

    }
}

/* 👩‍🎨self taught meter  */

.self-taught-meter-html,
.self-taught-meter-css, 
.self-taught-meter-js {
    height: inherit;
}

.self-taught-meter-html {
    width: 49.5%;
    background-color: #E34C26;
    border-radius: 10px 0 0 10px

}

.self-taught-meter-css {
    width: 35.1%;
    background-color: #563D7C;

}

.self-taught-meter-js {
    width: 15.4%;
    background-color: #F1E05A;
    border-radius: 0 10px 10px 0

}













/* ⭐easy bank */

.easybank {
    background-color: green;
}


.easybank-image {
    position: relative;
}

.easybank-image img {
    width: 30%;
    height: auto;
    position: absolute;
}


.easybank-image img:nth-child(1) {
    top: 0;
    left: 0;
}

.easybank-image img:nth-child(2) {
    top: 20vh;
    left: 0;
}

.easybank-image img:nth-child(3) {
    top: 20vh;
    left: 20vw;
}