.eye-container {
    text-align: center;
    display: inline-block;
    margin: 2vw;
}

.eye-container img {
    width: 30px;
    height: auto;
    margin: 0 auto;
    display: block;
}

.eye-container a {
    display: block;
    font-size: min(3vw, 20px);
}

/* ----------------- */


.works__flex {
    display: flex;
    flex-wrap: wrap;
    min-height: 70vh;
    width: 100%;
    margin: 20vh auto;
}


.works__image {
    position: relative;
    background-size: cover;
}



.works__flex__image img {}


.works__text {}


.works__text__title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.works__text__sent {
    width: 85%;
    padding: 10% 0 5vw;
    margin: 0 auto;
}


.language-meter {
    width: 85%;
    margin: 0 auto;
    display: flex;
    border-radius: 30px;
    height: 1rem;
}


/* - - - - - -  */

.language-meter-info {
    display: flex;
    width: 85%;
    margin: 0 auto;
    align-items: center;
}

/* .language-meter-info p:nth-of-type(1) {
    margin-right: 2rem;

} */

.language-meter-info p:not(:last-of-type) {
    padding-right: 2rem;
}


.html-circle,
.css-circle,
.js-circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: .5rem;
}

.html-circle {
    background-color: #E34C26;

}

.css-circle {
    background-color: #563D7C;
}

.js-circle {
    background-color: #F1E05A;
}


/* mobile */
@media all and (max-width: 767px) {
    .works__flex {
        display: inline-block;
        height: auto;
    }


    .works__image {
        height: 70vh;
    }


    .works__text {
        margin-top: 10vh;
    }


    .works__text__title {
        display: inline-block;
        align-items: center;
    }

    .works__text__sent {
        width: 85%;
        padding: 3vh 0;
        margin: 0 auto;
    }

}



/* ⭐travelBlog */

.travelBlog-image {
    background-image: url(./images/world\ map.jpg);
    box-shadow: 0 0 30px 30px white inset;
    /* 🐈 */
    width: 60%;
}

.travel-text {
    /* 🐈 */
    width: 40%;

}

/* 👩‍🎨travel meter */


.travel-meter-html,
.travel-meter-css {
    height: inherit;
}

.travel-meter-html {
    width: 71.5%;
    background-color: #E34C26;
    border-radius: 10px 0 0 10px
}

.travel-meter-css {
    width: 28.5%;
    background-color: #563D7C;
    border-radius: 0 10px 10px 0
}



/* desktop */
.travelBlog-image img:nth-child(1),
.crumpled-desktop {
    position: absolute;
    top: 7vh;
    left: 3vw;

    width: 60%;
    height: auto;
    box-shadow: rgba(111, 109, 107, 0.7) 0px 10px 30px;
}

.crumpled-desktop {
    opacity: .5;

}


/* tablet */
.travelBlog-image img:nth-child(2),
.crumpled-tablet {
    position: absolute;
    top: 15vh;
    right: 5vw;

    width: 40%;
    z-index: 10;
    box-shadow: rgba(111, 109, 107, 0.7) 0px 10px 30px;
}

.crumpled-tablet {
    opacity: .5;
}


/* mobile */
.travelBlog-image img:nth-child(3),
.crumpled-mobile {
    position: absolute;
    top: 30vh;
    left: 30vh;

    width: 25%;
    z-index: 11;
    box-shadow: rgba(111, 109, 107, 0.7) 0px 10px 30px;
}

.crumpled-mobile {
    opacity: .6;
}



.crumpled-desktop,
.crumpled-mobile,
.crumpled-tablet {
    transition: opacity 200ms;
}

.crumpled-desktop:hover,
.crumpled-mobile:hover,
.crumpled-tablet:hover {
    opacity: 0;
}


@media all and (max-width: 767px) {

    .travelBlog-image {
        /* 🐈 */
        width: 100%;
    }

    .travel-text {
        /* 🐈 */
        width: 100%;

    }
}


/* ⭐self taught */

.self-taught {
    flex-direction: row-reverse;
    display: flex;
    padding: 2rem;

    z-index: 9999;
}

.self-taught-image {
    width: 65%;
    min-height: 70vh;
    background-color: aliceblue;
    margin: 10vh auto;
    position: relative;

    overflow: hidden;


}


/* 背景 */
.slant-bg {
    width: 100%;
    margin: 2vh auto;
    /* 高さ調整 */
    padding: 20vh 0 25vh;
    top: 0;
    overflow: visible;
    position: relative;

    z-index: 999;

}

.slant-bg::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:  rgb(79, 135, 157);
    transform: skewY(10deg) translateY(-90px);
    z-index: -1;
}


/* card */

.box {
    height: auto;
    /* overflow: hidden; */
    overflow: visible;

}


/* 共通 */
.desktop-card,
.tablet-card,
.mobile-card {
    position: absolute;
    transform: rotate(11deg);

}

.desktop-card-image,
.tablet-card-image,
.mobile-card-image {
    box-shadow: 4.0px 8.0px 8.0px hsl(0deg 0% 0% / 0.38);
    box-shadow: 4px 1px 15px -6px rgba(84, 90, 92, 0.45), 11px 7px 9px -2px rgba(186, 186, 186, 0.45);
    box-shadow: 7px 2px 15px -6px rgba(84, 90, 92, 0.45), 11px 4px 9px -2px rgba(186, 186, 186, 0.45);
}

/* desktop */

.desktop-card {
    /* transform: skewY(-45deg); */
    width: max(30vw, 234px);
    top: 18vh;
    left: 30vw;
    height: 29vh;



}

/* .desktop-card img {
    width: max(25vw, 200px);

  } */



.desktop-card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.desktop-card .desktop-card-image {
    /* transform: skewY(45deg); */
}


/* tablet */
.tablet-card {
    width: 20vw;
    width: max(20vw, 150px);

    /* 書き順によって、結果が変わってしまいます。 */
    transform: rotate(30deg) skewY(-20deg);

    top: 24vh;
    left: 2vw;

}

.tablet-card-image {
    /* transform: rotateX(30deg) */
    

}


/* moible */

.mobile-card {
    width: 13vw;

    top: 40vh;
    left: 18vw;

    transform: rotate(30deg) skewY(-20deg);
}

.mobile-card-image {}

@media all and (max-width: 767px) {
    .desktop-card {
        top: 22vh;
        left: 40vw;

        width: max(45vw, 200px);
        height: 25vh;

    }

    .tablet-card {
        /* まだ */
        top: 23vh;
        left: -3vw;
        width: 40vw;
    
    }

    .mobile-card {
        width: 28vw;
    
        top: 46vh;
        left: 19vw;
    
        transform: rotate(30deg) skewY(-20deg);
    }
    


}


/* 三角 */
/* .thick-triangle {
    position: absolute;
    top: 27vh;
    left: 70vw;
    transform: rotate(-20deg);

    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 50px 219px 97px;
    border-width:  0 4vw  13vw 7vw;
    border-color: transparent transparent #007bff transparent;
} */

.desktop-card-image::after {
    content: "";
    top: 0;
    left: 0;
    border-style: solid;
    border-width: 0 50px 219px 97px;
    border-width:  0 4vw  13vw 7vw;
    border-color: transparent transparent #007bff transparent;

}







.self-taught-text {
    width: 30%;
}

@media all and (max-width: 767px) {

    .self-taught {
        display: inline-block;
    }

    .self-taught-image {
        /* 🐈 */
        width: 100%;
    }

    .self-taught-text {
        /* 🐈 */
        width: 100%;

    }
}

/* 👩‍🎨self taught meter  */

.self-taught-meter-html,
.self-taught-meter-css,
.self-taught-meter-js {
    height: inherit;
}

.self-taught-meter-html {
    width: 49.5%;
    background-color: #E34C26;
    border-radius: 10px 0 0 10px
}

.self-taught-meter-css {
    width: 35.1%;
    background-color: #563D7C;

}

.self-taught-meter-js {
    width: 15.4%;
    background-color: #F1E05A;
    border-radius: 0 10px 10px 0
}













/* ⭐easy bank */

.easybank {
}

.easybank-image {
    position: relative;
    width: 60%;
}

.easybank-image img {
    /* width: 50vw;
    height: 30vh; */
    position: absolute;
}


/* desktop */
.easybank-image img:nth-child(1) {
    width: 80%;
    top: 0;
    left: 10vw;
}

/* tablet */
.easybank-image img:nth-child(2) {
    width: 60%;
    top: 20vh;
    left: 0;
}

/* mobile */
.easybank-image img:nth-child(3) {
    width: 35%;
    top: 20vh;
    left: 0vw;
}

.easybank-text {
    width: 40%;
}